In [ ]:
# single value - string
    # vin
    # vin_NL
# array of information - separated by commas 
    # 1.0, 4.5, 0.05
    # vin_SL, vin_NH
# 2D array of information - brackets separated by commans 
    # [0.0, 0.0], [0.0, 0.0, 0.0], [0.0]
    # [F1, F2], [120, 240], [50, 25] 

# test_description.json:

# Row Conditions:
    # names
    # units
    # values
# Column Conditions
    # name
    # unit
    # values
# Table Conditions
    # names
    # units
    # values
# Results
    # names
    # units
# Specifications
    # names
    # units
    # values
    # connection
    # type
    # P/F
# Calculations
    # names
    # units
    # connection
    # equation

In [ ]:

# tests/
# ├── input/                    # Category (e.g. input, output, safety, etc.)
# │   ├── input_current/        # Individual test
# │   │   ├── test_description.json    # contains test description, row conditions, column conditions, table conditions, results, specifications, calculations  
# │   │   ├── csv/
# │   │   │   ├── table1.csv             # data table #1 for the test
# │   │   │   ├── table2.csv             # data table #2 for the test
# │   │   │   ├── tables.csv             # csv file holding all the information about the tables: columns will be file_name, title, caption
# │   │   │   └── equipment_used.csv   # Equipment used in the test
# │   │   ├── images/
# │   │   │   ├── *.png, *.jpg         # Test images
# │   │   │   └── images.csv           # file_name, title, caption
# │   │   └── latex/
# │   │       └── test.tex             # Generated LaTeX file for the test
# │   └── ...
# ├── output/
# │   └── ...
# ├── safety/
# │   └── ...
# └── test_selections.json     # Selected tests (checkbox states)

# cover_page/
# ├── equipment_used.json
# ├── general_specifications.json
# ├── product_information.json
# ├── testing_and_review.json
# └── logo.png

# report/
# ├── report.pdf                      # Final generated PDF report
# └── latex_report/                   # LaTeX source for the report
#     ├── main.tex
#     ├── *.tex, *.sty, *.bib
#     └── images/, tables/, etc.

In [31]:
import json

path = r"C:\Users\enfxm\Desktop\Python Testing\Test Report Template\Test-Report-Generator\fifth\latex_generation_test001\test_descriptions.json"

# load the JSON file
with open(path, 'r') as file:
    data = json.load(file)

# Example of how to access the data
# data

FileNotFoundError: [Errno 2] No such file or directory: 'test_description.json'

In [11]:
import pandas as pd
import openpyxl

path = r"C:\Users\enfxm\Desktop\Python Testing\Test Report Template\Test-Report-Generator\fifth\Report_Generation_Form.xlsx"

wb = openpyxl.load_workbook(path)
sheet = wb["Sheet3"]

# put it into a dataframe and keep all the merged cells formatting
# Note: openpyxl does not support reading merged cells directly into a DataFrame

data = sheet.values
columns = next(data)[0:]  # Get the first row as column names
df = pd.DataFrame(data, columns=columns)

# Fill NaN values with empty strings
df.fillna('', inplace=True)

df

,TITLE,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
0,"T_Name11 = T_Value11 (T_Unit11), T_Name12 = T_...",,,,,,,,,,,,,,,
1,,,C_Name1 (C_Unit),,,,,Spec_Name1,C_Name2 (C_Unit),,,,,Spec_Name1,,Spec_Name2
2,,,C_VAL1,C_VAL2,C_VAL3,C_VAL4,Calc_Name1,Spec_Unit1,C_VAL1,C_VAL2,C_VAL3,C_VAL4,Calc_Name1,Spec_Unit1,Calc_Name2,Spec_Unit2
3,,,Result_Name (Result_Units),,,,Calc_Unit1,Spec_Type1,Result_Name (Result_Units),,,,Calc_Unit1,Spec_Type1,Calc_Unit2,Spec_Type2
4,R_Name\n(R_Unit),R_VAL1,,,,,f(x),Spec_VAL11,,,,,f(x),Spec_VAL11,f(x),Spec_VAL21
5,,R_VAL2,,,,,f(x),Spec_VAL12,,,,,f(x),Spec_VAL12,f(x),Spec_VAL22
6,,R_VAL3,,,,,f(x),Spec_VAL13,,,,,f(x),Spec_VAL13,f(x),Spec_VAL23
7,,,,,,,,,,,,,,,,
8,TITLE,,,,,,,,,,,,,,,
9,"T_Name21 = T_Value21 (T_Unit21), T_Name22 = T_...",,,,,,,,,,,,,,,
10,,,C_Name1 (C_Unit),,,,,Spec_Name1,C_Name2 (C_Unit),,,,,Spec_Name1,,Spec_Name2
11,,,C_VAL1,C_VAL2,C_VAL3,C_VAL4,Calc_Name1,Spec_Unit1,C_VAL1,C_VAL2,C_VAL3,C_VAL4,Calc_Name1,Spec_Unit1,Calc_Name2,Spec_Unit2
12,,,Result_Name (Result_Units),,,,Calc_Unit1,Spec_Type1,Result_Name (Result_Units),,,,Calc_Unit1,Spec_Type1,Calc_Unit2,Spec_Type2
13,R_Name\n(R_Unit),R_VAL1,,,,,f(x),Spec_VAL11,,,,,f(x),Spec_VAL11,f(x),Spec_VAL21
14,,R_VAL2,,,,,f(x),Spec_VAL12,,,,,f(x),Spec_VAL12,f(x),Spec_VAL22
15,,R_VAL3,,,,,f(x),Spec_VAL13,,,,,f(x),Spec_VAL13,f(x),Spec_VAL23

In [ ]:
# psuedocode for turning it into latex:

# important variables:
    # width of table
    # number of column condition values
    # number of row condition values

# merge horizontally
    # title: from first column to last column
    # T_Name: from first column to last column
    # C_Name: from start of column to N columns (where N is the number of column condition values)

In [65]:
import numpy as np
import itertools

class Tables:
    def __init__(self, table_metadata: dict = {}):
        self.table_metadata = table_metadata
        
        # Parse all sections
        self.row_conditions = self._parse_row_conditions(table_metadata)
        self.column_conditions = self._parse_column_conditions(table_metadata)
        self.table_conditions = self._parse_table_conditions(table_metadata)
        self.results = self._parse_results(table_metadata)
        self.specifications = self._parse_specifications(table_metadata)
        self.calculations = self._parse_calculations(table_metadata)
        
        # Determine dimensions and create multi-dimensional array
        self.dimensions = self._calculate_dimensions()
        self.shape = self._calculate_shape()
        
        # Create the multi-dimensional array of tables
        self.tables = self._create_table_array()
    
    def _parse_values(self, value):
        """Parse a single value or a comma-separated list into a list"""
        if isinstance(value, str):
            return [v.strip() for v in value.split(',')] if value else []
        elif isinstance(value, list):
            return [v.strip() for v in value]
        else:
            return []
    
    def _parse_row_conditions(self, metadata):
        """Parse row conditions - these become row labels"""
        rc = metadata.get('row_conditions', {})
        names = self._parse_values(rc.get('names', ''))
        units = self._parse_values(rc.get('units', ''))
        values = self._parse_values(rc.get('values', ''))
        return {'names': names, 'units': units, 'values': values}
    
    def _parse_column_conditions(self, metadata):
        """Parse column conditions - these become measurement columns"""
        cc = metadata.get('column_conditions', {})
        names = self._parse_values(cc.get('names', ''))
        units = self._parse_values(cc.get('units', ''))
        values = self._parse_values(cc.get('values', ''))
        return {'names': names, 'units': units, 'values': values}
    
    def _parse_table_conditions(self, metadata):
        """Parse table conditions - these determine multi-dimensional structure"""
        tc = metadata.get('table_conditions', {})
        names = self._parse_values(tc.get('names', ''))
        units = self._parse_values(tc.get('units', ''))
        values = self._parse_values(tc.get('values', ''))
        return {'names': names, 'units': units, 'values': values}
    
    def _parse_results(self, metadata):
        """Parse results section"""
        r = metadata.get('results', {})
        names = self._parse_values(r.get('names', ''))
        units = self._parse_values(r.get('units', ''))
        return {'names': names, 'units': units}
    
    def _parse_specifications(self, metadata):
        """Parse specifications section"""
        s = metadata.get('specifications', {})
        names = self._parse_values(s.get('names', ''))
        units = self._parse_values(s.get('units', ''))
        values = self._parse_values(s.get('values', ''))
        connection = s.get('connection', '')
        spec_type = s.get('type', '')
        return {'names': names, 'units': units, 'values': values, 'connection': connection, 'type': spec_type}
    
    def _parse_calculations(self, metadata):
        """Parse calculations section"""
        c = metadata.get('calculations', {})
        names = self._parse_values(c.get('names', ''))
        units = self._parse_values(c.get('units', ''))
        connection = c.get('connection', '')
        equation = c.get('equation', '')
        return {'names': names, 'units': units, 'connection': connection, 'equation': equation}
    
    def _calculate_dimensions(self):
        """Calculate the number of dimensions based on table conditions"""
        # If no table conditions, we have 1 table (0D)
        if not self.table_conditions['names']:
            return 0
        
        # Count how many different table condition types we have
        # Each table condition with values creates a new dimension
        dimensions = 0
        for name, values in zip(self.table_conditions['names'], [self.table_conditions['values']]):
            if values:  # Only count if there are actual values
                dimensions += 1
        
        return dimensions
    
    def _calculate_shape(self):
        """Calculate the shape of the multi-dimensional array"""
        if self.dimensions == 0:
            return (1,)  # Single table
        
        # For now, assume all values are in one list
        # In a more complex implementation, you'd parse multiple table conditions
        values = self.table_conditions['values']
        if not values:
            return (1,)
        
        # Example: if you have "F1, F2" and "99, 277" as two separate table conditions
        # You would need to parse them separately and return (2, 2)
        # For now, let's handle the simple case
        return (len(values),)
    
    def _create_table_array(self):
        """Create the multi-dimensional array of DataFrames"""
        if self.dimensions == 0:
            # Single table case
            return [self._create_single_table()]
        
        # Multi-dimensional case
        # Create empty array with the right shape
        tables = np.empty(self.shape, dtype=object)
        
        # Fill the array with DataFrames
        for indices in np.ndindex(self.shape):
            table_condition_values = self._get_table_condition_values(indices)
            tables[indices] = self._create_single_table(table_condition_values)
        
        return tables
    
    def _get_table_condition_values(self, indices):
        """Get the specific table condition values for given indices"""
        if isinstance(indices, tuple):
            # Multi-dimensional case
            return [self.table_conditions['values'][i] for i in indices]
        else:
            # Single dimension case
            return [self.table_conditions['values'][indices]]
    
    def _create_single_table(self, table_condition_values=None):
        """Create a single DataFrame for specific table condition values"""
        # Build the basic table structure
        data = {}
        
        # Add row labels as index
        if self.row_conditions['names']:
            row_labels = []
            for name, unit in zip(self.row_conditions['names'], self.row_conditions['units']):
                row_labels.append(f"{name} ({unit})")
        else:
            row_labels = ['Row_1']
        
        # Add column condition columns
        if self.column_conditions['values']:
            for i, val in enumerate(self.column_conditions['values']):
                data[f'C_VAL{i+1}'] = ['f(x)'] * len(row_labels)
        
        # Add result columns
        if self.results['names']:
            for name in self.results['names']:
                data[f'Result_{name}'] = ['f(x)'] * len(row_labels)
        
        # Add specification columns
        if self.specifications['names']:
            for i, (name, value) in enumerate(zip(self.specifications['names'], self.specifications['values'])):
                data[f'Spec_{name}'] = [value] * len(row_labels)
        
        # Add calculation columns
        if self.calculations['names']:
            for name in self.calculations['names']:
                data[f'Calc_{name}'] = ['f(x)'] * len(row_labels)
        
        # Create DataFrame
        df = pd.DataFrame(data, index=row_labels)
        
        # Add metadata to DataFrame
        df.attrs['table_conditions'] = table_condition_values or []
        df.attrs['title'] = self._generate_title(table_condition_values)
        
        return df
    
    def _generate_title(self, table_condition_values):
        """Generate title for a specific table"""
        basic_info = self.table_metadata.get('basic_info', {})
        base_title = f"{basic_info.get('category', '')} - {basic_info.get('test_name', '')}"
        
        if table_condition_values:
            condition_str = ", ".join([f"{name}={value}" for name, value in 
                                     zip(self.table_conditions['names'], table_condition_values)])
            return f"{base_title} ({condition_str})"
        
        return base_title
    
    def get_table(self, *indices):
        """Get a specific table by indices"""
        if self.dimensions == 0:
            return self.tables[0]
        return self.tables[indices]
    
    def get_all_tables(self):
        """Get all tables as a flat list"""
        if self.dimensions == 0:
            return [self.tables[0]]
        return self.tables.flatten()
    
    def get_table_count(self):
        """Get total number of tables"""
        if self.dimensions == 0:
            return 1
        return np.prod(self.shape)
    
    def print_structure(self):
        """Print the structure of the table array"""
        print(f"Dimensions: {self.dimensions}")
        print(f"Shape: {self.shape}")
        print(f"Total tables: {self.get_table_count()}")
        
        if self.dimensions > 0:
            print("Table conditions:")
            for i, name in enumerate(self.table_conditions['names']):
                print(f"  {name}: {self.table_conditions['values']}")

In [67]:
t = Tables(table_metadata=data)

print("=== TABLE STRUCTURE ===")
t.print_structure()

print("\n=== FIRST TABLE ===")
first_table = t.get_table(0) if t.dimensions > 0 else t.get_table()
print(first_table)

print(f"\nTable title: {first_table.attrs.get('title', 'No title')}")
print(f"Table conditions: {first_table.attrs.get('table_conditions', 'None')}")

print(f"\nTotal tables: {t.get_table_count()}")
print(f"All tables: {len(t.get_all_tables())}")

# Create a more complex example with multiple table conditions
print("\n" + "="*50)
print("=== COMPLEX MULTI-DIMENSIONAL EXAMPLE ===")

complex_data = {
    "basic_info": {
        "category": "Input",
        "test_name": "Multi-Condition Test",
        "description": ""
    },
    "row_conditions": {
        "names": "Input Voltage, Input Current",
        "units": "V, A",
        "values": "99, 2.3"
    },
    "column_conditions": {
        "names": "Load Condition",
        "units": "Ohm",
        "values": "10, 50, 100"
    },
    "table_conditions": {
        "names": "Ground Configuration, Temperature",
        "units": "Config, C",
        "values": "F1, F2, 25, 85"  # This would be parsed as 4 different table conditions
    },
    "results": {
        "names": "Output Power",
        "units": "W"
    },
    "specifications": {
        "names": "Max Power",
        "units": "W",
        "values": "100, 200",
        "connection": "Whole Table",
        "type": "Max"
    },
    "calculations": {
        "names": "Efficiency",
        "units": "%",
        "connection": "Output Power / Input Power",
        "equation": "P_out / P_in * 100"
    }
}

# Test the complex example
complex_tables = Tables(table_metadata=complex_data)
complex_tables.print_structure()

print(f"\nTotal tables: {complex_tables.get_table_count()}")
print(f"First table shape: {complex_tables.get_table(0).shape}")
print(f"First table:\n{complex_tables.get_table(0)}")

# Show titles of all tables
print("\n=== ALL TABLE TITLES ===")
for i, table in enumerate(complex_tables.get_all_tables()):
    print(f"Table {i}: {table.attrs.get('title', 'No title')}")

=== TABLE STRUCTURE ===
Dimensions: 0
Shape: (1,)
Total tables: 1

=== FIRST TABLE ===
                  Result_Input Current Spec_Input Current
Input Voltage (V)                 f(x)                2.3

Table title: Input - Input Current
Table conditions: []

Total tables: 1
All tables: 1

==================================================
=== COMPLEX MULTI-DIMENSIONAL EXAMPLE ===
Dimensions: 1
Shape: (4,)
Total tables: 4
Table conditions:
  Ground Configuration: ['F1', 'F2', '25', '85']
  Temperature: ['F1', 'F2', '25', '85']

Total tables: 4
First table shape: (2, 6)
First table:
                  C_VAL1 C_VAL2 C_VAL3 Result_Output Power Spec_Max Power  \
Input Voltage (V)   f(x)   f(x)   f(x)                f(x)            100
Input Current (A)   f(x)   f(x)   f(x)                f(x)            100

                  Calc_Efficiency
Input Voltage (V)            f(x)
Input Current (A)            f(x)

=== ALL TABLE TITLES ===
Table 0: Input - Multi-Condition Test (Ground Configuration=F1)
Table 1: Input - Multi-Condition Test (Ground Configuration=F2)
Table 2: Input - Multi-Condition Test (Ground Configuration=25)
Table 3: Input - Multi-Condition Test (Ground Configuration=85)

In [68]:
# Example of true multi-dimensional table conditions
print("=== TRUE MULTI-DIMENSIONAL EXAMPLE ===")

# Let's create a proper example with separate table conditions
multi_dim_data = {
    "basic_info": {
        "category": "Input",
        "test_name": "Multi-Dimensional Test",
        "description": ""
    },
    "row_conditions": {
        "names": "Input Voltage, Input Current",
        "units": "V, A",
        "values": "99, 2.3"
    },
    "column_conditions": {
        "names": "Load",
        "units": "Ohm",
        "values": "10, 50"
    },
    # This represents 2 separate table conditions that create a 2x2 matrix
    "table_conditions": {
        "names": "Ground Config, Temperature",  # 2 different table condition types
        "units": "Config, C",
        "values": "[F1, F2], [25, 85]"  # 2D array format: [Ground values], [Temp values]
    },
    "results": {
        "names": "Output Power",
        "units": "W"
    },
    "specifications": {
        "names": "Max Power",
        "units": "W",
        "values": "100",
        "connection": "Whole Table",
        "type": "Max"
    }
}

# To properly handle this, we need to enhance our parsing
def parse_2d_table_conditions(table_conditions):
    """Parse table conditions that can be 2D arrays"""
    names = [n.strip() for n in table_conditions['names'].split(',')]
    units = [u.strip() for u in table_conditions['units'].split(',')]
    values_str = table_conditions['values']
    
    # Parse 2D array format: [F1, F2], [25, 85]
    import re
    bracket_pattern = r'\[([^\]]+)\]'
    matches = re.findall(bracket_pattern, values_str)
    
    values_2d = []
    for match in matches:
        values_2d.append([v.strip() for v in match.split(',')])
    
    return names, units, values_2d

# Test the 2D parsing
names, units, values_2d = parse_2d_table_conditions(multi_dim_data['table_conditions'])
print(f"Table condition names: {names}")
print(f"Table condition units: {units}")
print(f"Table condition values (2D): {values_2d}")

# This would create a 2x2 matrix of tables:
# - Ground Config F1, Temperature 25°C
# - Ground Config F1, Temperature 85°C  
# - Ground Config F2, Temperature 25°C
# - Ground Config F2, Temperature 85°C
print(f"\nThis would create a {len(values_2d[0])} x {len(values_2d[1])} matrix = {len(values_2d[0]) * len(values_2d[1])} tables")

# Generate all combinations
import itertools
combinations = list(itertools.product(*values_2d))
print(f"Table combinations: {combinations}")

for i, combo in enumerate(combinations):
    condition_str = ", ".join([f"{name}={value}" for name, value in zip(names, combo)])
    print(f"  Table {i}: {condition_str}")

=== TRUE MULTI-DIMENSIONAL EXAMPLE ===
Table condition names: ['Ground Config', 'Temperature']
Table condition units: ['Config', 'C']
Table condition values (2D): [['F1', 'F2'], ['25', '85']]

This would create a 2 x 2 matrix = 4 tables
Table combinations: [('F1', '25'), ('F1', '85'), ('F2', '25'), ('F2', '85')]
  Table 0: Ground Config=F1, Temperature=25
  Table 1: Ground Config=F1, Temperature=85
  Table 2: Ground Config=F2, Temperature=25
  Table 3: Ground Config=F2, Temperature=85

In [ ]:
import json
from tables import Tables

# Test with the complex data to debug the parsing
with open('latex_generation_test001/test_descriptions.json', 'r') as f:
    complex_data = json.load(f)

print("=== DEBUGGING PARSED VALUES ===")
tables = Tables(complex_data)

print("Row conditions:", tables.row_conditions)
print("Column conditions:", tables.column_conditions)
print("Table conditions:", tables.table_conditions)
print("Results:", tables.results)
print("Specifications:", tables.specifications)
print("Calculations:", tables.calculations)

print(f"\nTotal columns calculated: {tables._calculate_total_columns()}")

# Get the first table and print its shape
first_table = tables.get_table(0)
print(f"First table shape: {first_table.shape}")
print("First table:")
print(first_table)