In [1207]:
import importlib
import cover_page
import test_report
import test_SIMPLIFIED
import simple_gui
importlib.reload(cover_page)
importlib.reload(test_report)
importlib.reload(test_SIMPLIFIED)
importlib.reload(simple_gui)

import json
import itertools
import pandas as pd
from cover_page import *
from test_report import *
from test_SIMPLIFIED import *
from simple_gui import *

In [1208]:
tr = TestReport("Sample Report")

tr.add_test('Input', 'Input Current')
tr.add_CC('Input Voltage (Vac)', [99, 120, 240])
tr.add_CC('Ground Configuration', ['F1', 'F2'])

tr.add_Re('Input Current (A)')

tr.get_root_table()

# edit_test(tr.selected_test)

tr.get_root_table()

df = tr.get_root_table()
df['Input Current (A)'] = [2, 3, 4, 5, 6, 7]

tr.update_from_dataframe(df)

tr.add_Ca('sum', "=CC('Input Voltage (Vac)') + Re('Input Current (A)')")
tr.get_root_table()

A new test has been created!

   Input Voltage (Vac) Ground Configuration  Input Current (A)  sum
0                   99                   F1                  2  101
1                   99                   F2                  3  102
2                  120                   F1                  4  124
3                  120                   F2                  5  125
4                  240                   F1                  6  246
5                  240                   F2                  7  247

In [1209]:
df['Input Current (A)'] = [-99, -99, -120, -120, -240, -240]

tr.update_from_dataframe(df)

tr.get_root_table()

   Input Voltage (Vac) Ground Configuration  Input Current (A)  sum
0                   99                   F1                -99    0
1                   99                   F2                -99    0
2                  120                   F1               -120    0
3                  120                   F2               -120    0
4                  240                   F1               -240    0
5                  240                   F2               -240    0

In [1210]:
df['Input Current (A)'] = [2, 3, 4, 5, 6, 7]

tr.update_from_dataframe(df)

tr.get_root_table()

   Input Voltage (Vac) Ground Configuration  Input Current (A)  sum
0                   99                   F1                  2  101
1                   99                   F2                  3  102
2                  120                   F1                  4  124
3                  120                   F2                  5  125
4                  240                   F1                  6  246
5                  240                   F2                  7  247

In [1211]:
df['Input Current (A)'] = [-99, -99, -120, -120, -240, -240]

tr.update_from_dataframe(df)

tr.get_root_table()

   Input Voltage (Vac) Ground Configuration  Input Current (A)  sum
0                   99                   F1                -99    0
1                   99                   F2                -99    0
2                  120                   F1               -120    0
3                  120                   F2               -120    0
4                  240                   F1               -240    0
5                  240                   F2               -240    0

In [1217]:
tr.add_Sp('Max Input Current (A)', [2, 3, 4, 5, 6, 7])

tr.get_root_table()

,Input Voltage (Vac),Ground Configuration,Input Current (A),sum,Max Input Current (A)
0,99,F1,2,0,2
1,99,F2,3,0,3
2,120,F1,4,0,4
3,120,F2,5,0,5
4,240,F1,6,0,6
5,240,F2,7,0,7

In [ ]:
f = lambda x: x + 1

f(5)

map()

6