In [1]:
import importlib
import cover_page
import test_report
import test_SIMPLIFIED
import simple_gui
importlib.reload(cover_page)
importlib.reload(test_report)
importlib.reload(test_SIMPLIFIED)
importlib.reload(simple_gui)

import json
import itertools
import pandas as pd
from cover_page import *
from test_report import *
from test_SIMPLIFIED import *
from simple_gui import *

In [2]:
tr = TestReport("Sample Report")

In [ ]:
tr.add_test('Input', 'Input Current')

A new test has been created!

In [4]:
tr.add_CC('Input Voltage (Vac)', [99, 120, 240])
tr.add_CC('GND CONFIG', ['F1', 'F2'])

tr.get_root_table()

   Input Voltage (Vac) GND CONFIG
0                   99         F1
1                   99         F2
2                  120         F1
3                  120         F2
4                  240         F1
5                  240         F2

In [5]:
tr.add_Re('Input Current')

tr.get_root_table()

   Input Voltage (Vac) GND CONFIG Input Current
0                   99         F1            --
1                   99         F2            --
2                  120         F1            --
3                  120         F2            --
4                  240         F1            --
5                  240         F2            --

In [ ]:
tr.add_Ca('calc', '')

ValueError: Invalid formula syntax:

In [ ]:
tr.add_Sp('Spec', [3, 3, 3, 3, 3, 3])

In [11]:
tr.get_root_table()

   Input Voltage (Vac) GND CONFIG Input Current  Spec
0                   99         F1            --     3
1                   99         F2            --     3
2                  120         F1            --     3
3                  120         F2            --     3
4                  240         F1            --     3
5                  240         F2            --     3