In [ ]:
import importlib
import parse
import build
importlib.reload(parse)
importlib.reload(build)


from parse import *
from build import Blocks
import json

In [220]:
json_path = r"C:\Users\enfxm\Desktop\Python Testing\Test Report Template\Test-Report-Generator\sixth_integration\form_to_csv_to_latex\test_descriptions.json"

with open(json_path, 'r') as file:
    metadata = json.load(file)

In [221]:
TC = TableConditions(metadata)
RC = RowConditions(metadata)
CC = ColumnConditions(metadata)
Re = Results(metadata)
Sp = Specifications(metadata)

In [222]:
import pandas as pd

# make an empty dataframe that 2x2
df = pd.DataFrame(index=range(len(RC.values)), columns=range(2))

In [223]:
df

     0    1
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN

In [224]:
tot_vals = sum(len(subarray) for subarray in RC.values)
df = pd.DataFrame(index=range(tot_vals), columns=range(2))

tot_vals

8

In [235]:
RC.values

['90', '120', '240']

In [226]:
var = ["output current"]

var

['output current']

In [227]:
are_multiple_names = True if len(RC.names) > 1 else False

are_multiple_names

True

In [280]:
values1 = ["0", "1", "2"]
names1 = ["Output Current"]

values2 = [["0", "1", "2"], ["10", "9", "8"]]
names2 = ["Output Current, Poop Current"]

tot_vals = sum(len(subarray) for subarray in values1)
df2 = pd.DataFrame(index=range(tot_vals), columns=range(2))

     0    1
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN

In [ ]:
def _build_row_condition_data(self, total_columns):
    """Build row condition data with proper grouping and merging simulation"""
    if not self.row_conditions['names']:
        return []
    
    row_data = []
    
    for i, (name, unit) in enumerate(zip(self.row_conditions['names'], self.row_conditions['units'])):
        # Format the row condition name with units
        if unit:
            row_name = f"{name} ({unit})"
        else:
            row_name = name
        
        # Get values for this specific row condition
        if i < len(self.row_conditions['values']):
            condition_values = self.row_conditions['values'][i]
        else:
            condition_values = ['']  # Default if no values
        
        # Create rows for each value
        for j, value in enumerate(condition_values):
            row = [''] * total_columns
            
            # All rows get the same name (simulating merged cells by repetition)
            row[0] = row_name
            
            # Second column gets the value
            row[1] = value
            
            # Fill remaining columns with placeholders
            for col in range(2, total_columns):
                row[col] = '--'
            
            row_data.append(row)
    
    return row_data

In [283]:
df2

                0    1
0  Output Current    0
1             NaN  NaN
2             NaN  NaN