In [710]:
import importlib
import parse
import build
importlib.reload(parse)
importlib.reload(build)


from parse import *
from build import Blocks
import json

import pandas as pd
import numpy as np

In [715]:
json_path = r"C:\Users\enfxm\Desktop\Python Testing\Test Report Template\Test-Report-Generator\sixth_integration\form_to_csv_to_latex\test_descriptions.json"

with open(json_path, 'r') as file:
    metadata = json.load(file)

BI = BasicInfo(metadata)
TC = TableConditions(metadata)
RC = RowConditions(metadata)
CC = ColumnConditions(metadata)
Re = Results(metadata)
Sp = Specifications(metadata)
Ca = Calculations(metadata)

blocks = Blocks(TC, RC, CC, Re, Sp, Ca)

RCB = blocks.rc_block

RCB

                   0    1
0  Input Voltage (C)   99
1  Input Voltage (C)  120
2  Input Voltage (C)  240
3           dooo (A)    1
4           dooo (A)    2

In [728]:
empty_df = pd.DataFrame()

# add RCB to empty_df
empty_df = pd.concat([empty_df, RCB], ignore_index=True)
empty_df

empty_df = pd.concat([empty_df, RCB], axis=0)

In [729]:
empty_df

                   0    1
0  Input Voltage (C)   99
1  Input Voltage (C)  120
2  Input Voltage (C)  240
3           dooo (A)    1
4           dooo (A)    2
0  Input Voltage (C)   99
1  Input Voltage (C)  120
2  Input Voltage (C)  240
3           dooo (A)    1
4           dooo (A)    2

In [730]:
import pandas as pd
import numpy as np

# Create the main DataFrame
df_main = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5],
    'col2': ['A', 'B', 'C', 'D', 'E'],
    'col3': [10, 20, 30, 40, 50]
})

# Create the DataFrame with replacement values
df_replace = pd.DataFrame({
    'col1': [99, 88],
    'col2': ['X', 'Y']
}, index=[2, 4]) # Indices must match for replacement

print("Original DataFrame:")
print(df_main)

# Update df_main with values from df_replace
df_main.update(df_replace)

print("\nDataFrame after update:")
print(df_main)

Original DataFrame:
   col1 col2  col3
0     1    A    10
1     2    B    20
2     3    C    30
3     4    D    40
4     5    E    50

DataFrame after update:
   col1 col2  col3
0     1    A    10
1     2    B    20
2    99    X    30
3     4    D    40
4    88    Y    50